

body{
    background-color: rgb(80, 64, 107);
}


h1{
    color: white;
    padding: 11px;
}
h3{
    color: white;
    padding: 8px 12px 16px ;
}

.todo_center{
    padding: 12px;

   
}
.todo_list{
    color: white;
}